<h3>Create a Hero</h3>

<form class="hero-form" [formGroup]="heroForm">
  <mat-form-field class="hero-full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="nameLabel" />
  </mat-form-field>

  <mat-form-field class="hero-full-width" appearance="fill">
    <mat-label>Occupation</mat-label>
    <input
      matInput
      placeholder="Occupation"
      formControlName="occupationLabel"
    />
  </mat-form-field>

  <mat-form-field class="hero-full-width" appearance="fill">
    <mat-label>Skills</mat-label>
    <input matInput placeholder="Skills" formControlName="skillsLabel" />
  </mat-form-field>

  <mat-form-field class="hero-full-width" appearance="fill">
    <mat-label>Created by</mat-label>
    <input matInput placeholder="Created by" formControlName="creatorLabel" />
  </mat-form-field>

  <mat-form-field class="hero-full-width" appearance="fill">
    <mat-label>Citizenship</mat-label>
    <input
      matInput
      placeholder="Citizenship"
      formControlName="citizenshipLabel"
    />
  </mat-form-field>

  <mat-form-field class="hero-full-width" appearance="fill">
    <mat-label>Member of</mat-label>
    <input matInput placeholder="Member of" formControlName="memberOfLabel" />
  </mat-form-field>

  <mat-radio-group aria-label="Select an option" formControlName="genderLabel">
    <mat-radio-button value="male">Male</mat-radio-button>
    <mat-radio-button value="female">Female</mat-radio-button>
  </mat-radio-group>

  <mat-dialog-actions align="end">
    <button
      type="submit"
      [disabled]="!heroForm.valid"
      mat-button
      mat-dialog-close
    >
      Submit
    </button>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</form>
