.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px 50px;
  row-gap: 25px;
}

h1 {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.actions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 65px 25px 65px;

  button {
    display: flex;
    align-self: center;
  }
}

.mat-cell {
  width: 175px;
}

.mat-column-genderLabel {
  width: 100px;
}

.mat-column-occupationLabel {
  width: 125px;
}

.mat-column-delete,
.mat-column-edit {
  width: 75px;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
  background-color: rgba(0, 0, 0, 0.04);
}
