<mat-toolbar>
  <span>MARVEL HEROES</span>
</mat-toolbar>
<div class="actions-container">
  <app-chips-input (updateHeroes)="filterHeroes($event)"></app-chips-input>
  <button (click)="createHero()" mat-flat-button color="primary">
    Create hero
  </button>
</div>

<div class="info-container">
  <mat-icon aria-hidden="false" aria-label="Example home icon">info</mat-icon>
  <p>Click on each chart to expand</p>
</div>

<div class="table-container">
  <table
    *ngIf="dataSource.data.length"
    mat-table
    matSort
    [dataSource]="dataSource"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Member of</th>
      <td mat-cell *matCellDef="let element">{{ element.memberOfLabel }}</td>
    </ng-container>

    <ng-container matColumnDef="nameLabel">
      <th mat-header-cell *matHeaderCellDef>
        <div class="column-header-container">
          <h2 mat-sort-header>Name</h2>
          <ngx-charts-number-card
            *ngIf="dataSource?.data?.length"
            [view]="view"
            [results]="[
              { name: 'Total Heroes', value: dataSource?.data?.length }
            ]"
            [cardColor]="cardColor"
          >
          </ngx-charts-number-card>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.nameLabel }}</td>
    </ng-container>

    <ng-container matColumnDef="creatorLabel">
      <th mat-header-cell *matHeaderCellDef>
        <div class="column-header-container">
          <h2 mat-sort-header>Creator</h2>
          <ngx-charts-bar-vertical
            *ngIf="creatorData.length"
            [view]="view"
            [results]="creatorData"
            [gradient]="gradient"
            [yAxis]="true"
            (click)="openChartDialog($event, creatorData, 'bar', 'Creator')"
          >
          </ngx-charts-bar-vertical>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.creatorLabel }}</td>
    </ng-container>

    <ng-container matColumnDef="genderLabel">
      <th mat-header-cell *matHeaderCellDef>
        <div class="column-header-container">
          <h2 mat-sort-header>Gender</h2>
          <ngx-charts-pie-chart
            *ngIf="genderData.length"
            [view]="view"
            [results]="genderData"
            [gradient]="gradient"
            [labels]="showLabels"
            (click)="openChartDialog($event, genderData, 'pie', 'Gender')"
          >
          </ngx-charts-pie-chart>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.genderLabel }}</td>
    </ng-container>

    <ng-container matColumnDef="memberOfLabel">
      <th mat-header-cell *matHeaderCellDef>
        <div class="column-header-container">
          <h2 mat-sort-header>Member of</h2>
          <ngx-charts-bar-vertical
            *ngIf="memberOfData.length"
            [view]="view"
            [results]="memberOfData"
            [gradient]="gradient"
            [yAxis]="true"
            (click)="openChartDialog($event, memberOfData, 'bar', 'Member of')"
          >
          </ngx-charts-bar-vertical>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.memberOfLabel }}</td>
    </ng-container>

    <ng-container matColumnDef="citizenshipLabel">
      <th mat-header-cell *matHeaderCellDef>
        <div class="column-header-container">
          <h2 mat-sort-header>Citizenship</h2>
          <ngx-charts-pie-chart
            *ngIf="citizenshipData.length"
            [view]="view"
            [results]="citizenshipData"
            [gradient]="gradient"
            [labels]="showLabels"
            (click)="
              openChartDialog($event, citizenshipData, 'pie', 'Citizenship')
            "
          >
          </ngx-charts-pie-chart>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.citizenshipLabel }}</td>
    </ng-container>

    <ng-container matColumnDef="occupationLabel">
      <th mat-header-cell *matHeaderCellDef>
        <div class="column-header-container">
          <h2 mat-sort-header>Occupation</h2>
          <ngx-charts-bar-vertical
            *ngIf="occupationData.length"
            [view]="view"
            [results]="occupationData"
            [gradient]="gradient"
            [yAxis]="true"
            (click)="
              openChartDialog($event, occupationData, 'bar', 'Occupation')
            "
          >
          </ngx-charts-bar-vertical>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.occupationLabel }}</td>
    </ng-container>

    <ng-container matColumnDef="skillsLabel">
      <th mat-header-cell *matHeaderCellDef>
        <div class="column-header-container">
          <h2 mat-sort-header>Skills</h2>
          <ngx-charts-bar-vertical
            *ngIf="skillsData.length"
            [view]="view"
            [results]="skillsData"
            [gradient]="gradient"
            [yAxis]="true"
            (click)="openChartDialog($event, skillsData, 'bar', 'Skills')"
          >
          </ngx-charts-bar-vertical>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.skillsLabel }}</td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button (click)="removeHero($event, element.nameLabel)" mat-flat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >delete</mat-icon
          >
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button (click)="editHero($event, element)" mat-flat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >edit</mat-icon
          >
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="clickedRow(row)"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>

  <mat-paginator
    *ngIf="dataSource.data.length"
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>

  <mat-card *ngIf="!dataSource.data.length">No data to display</mat-card>
</div>
